<div class="container">	
	<br>					
	<h3>Uptime</h3>
	<p>Server running for {{uptime}} minutes</p>
	<br>
	<h3>Requests</h3>
	<p>Processed {{numRequests}} requests so far</p>
	<p>Avg Duration: {{avgProcess}}ms</p>
	<p>Shortest: {{shortestProcess}}ms</p>
	<p>Longest: {{longestProcess}}ms</p>	
</div>	
	